@namespace UI_KIT.Components.Layout
@using Syncfusion.Blazor.Notifications
@inject NavigationManager Navigation

<section class="bg-gray-50 dark:bg-gray-900 border-r border-gray-200 dark:border-gray-700 w-64" aria-label="main navigation menu" role="complementary">
    <div class="h-screen">
                <div class="flex items-center py-4 px-3">
                    <img src="assets/images/common/brand-logos/svg/twitter.svg" alt="company logo" />
                    <span class="text-lg font-bold text-gray-900 dark:text-white ml-3">XTradingView</span>
                </div>
                <div class="mt-1">
                    <SfListView class="border-0" DataSource="@Data" aria-label="main navigation links" role="list">
                        <ListViewFieldSettings TValue="MenuItem"></ListViewFieldSettings>
                        <ListViewTemplates TValue="MenuItem">
                            <Template>
                                <a href="@context.Route" class="block hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors rounded-lg mx-2 px-2 py-2">
                                    <div class="e-list-wrapper flex items-center justify-between pr-2">
                                        <div class="text-base leading-6 flex items-center">
                                            <span class="e-icons text-base @context.FontIcon"></span>
                                            <span class="font-normal pl-4">@context.Field</span>
                                        </div>
                                        @if (@context.Field == "Notifications")
                                        {
                                            <span class="e-badge e-badge-info e-badge-pill !px-1.5 e-bigger">99+</span>
                                        }
                                    </div>
                                </a>
                            </Template>
                        </ListViewTemplates>
                    </SfListView>
                </div>
                <hr class="border-gray-200 dark:border-gray-700 m-4" />
                <div class="space-y-1 px-2">
                    <a href="/news" class="flex items-center px-4 py-2 text-base font-normal text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors rounded-lg">
                        <span class="e-icons e-file-new text-base mr-4"></span>
                        News
                    </a>
                    <a href="/events" class="flex items-center px-4 py-2 text-base font-normal text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors rounded-lg">
                        <span class="e-icons e-agenda-date-range text-base mr-4"></span>
                        Events
                    </a>
                    <a href="/people" class="flex items-center px-4 py-2 text-base font-normal text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors rounded-lg">
                        <span class="e-icons e-user text-base mr-4"></span>
                        People
                    </a>
                </div>
                <div id="toastmsg" class="!absolute" style="bottom: 25%;"></div>
                <SfToast @ref="ToastInfo" CssClass="e-toast-info" Width="224px" ShowCloseButton="true" Timeout="0" Target="#toastmsg" NewestOnTop="true">
                    <ToastEvents Created="@(async () => await ToastInfo?.ShowAsync())"></ToastEvents>
                    <ToastPosition X="Left" Y="Bottom"></ToastPosition>
                    <ToastTemplates>
                        <Title>
                            <div class="pr-2">Adaptive Tiles Meeting</div>
                        </Title>
                        <Content>
                            <div>There was a problem with your network connection</div>
                        </Content>
                    </ToastTemplates>
                </SfToast>
                <SfToast @ref="ToastWarning" CssClass="e-toast-warning" Width="224px" ShowCloseButton="true" Timeout="0" Target="#toastmsg" NewestOnTop="true">
                    <ToastEvents Created="@(async () => await ToastWarning?.ShowAsync())"></ToastEvents>
                    <ToastPosition X="Left" Y="Top"></ToastPosition>
                    <ToastTemplates>
                        <Title>
                            <div class="pr-2">Adaptive Tiles Meeting</div>
                        </Title>
                        <Content>
                            <div>There was a problem with your network connection</div>
                        </Content>
                    </ToastTemplates>
                </SfToast>
    </div>
</section>